*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body
{
	background-color: #FEF7FF;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
}
:root{
	--txtcolor-black: #343434;
	--txtcolor-gray: #bcbcbc;
	--txtcolor-hover: #EB5DB2;
	--bg-blur: #f0f0f0;
	--tran-025: 0.25s;
}
.modal{
	display: none;
}
.modal-open{
	display: inherit;
}
.fa-bars{
	display: none;
	cursor: pointer;
}
.bg-blur{
	background-color: var(--bg-blur);
}

/*--------------HEADER--------------*/
/*CSS V2 Header*/
	.header{
		width: 100%;
		height: 80px;
		line-height: 80px;
		display: flex;
		justify-content: space-between;
		background-image: linear-gradient(-90deg, #E8A1F4, white);
		padding: 0 30px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		border-radius: 10px;
		position: fixed;
		z-index: 1;
	}
	.list{
		display: flex;
		list-style: none;
	}
	.list-item{
		position: relative;
	}
	.list-item a{
		display: block;
		font-size: 20px;
		padding: 0 40px;
		font-weight: 700;
		color: var(--txtcolor-black);
		text-decoration: none;
		transition: var(--tran-025);
	}
	.list-item img{
		display: flex;
		align-items: center;
		object-fit: cover;
		width: 100px;
	}
	.sub-list{
		position: absolute;
		display: none;
		list-style: none;
		background-image: linear-gradient(-90deg, #E8A1F4, white);
		width: 190px;
		top: 101%;
		left: 0;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		overflow: hidden;
	}
	.sub-list .sub-item a{
		padding: 0 20px;
		font-size: 16px;
		transition: var(--tran-025);
		position: relative;
	}

	.list-item:hover > a{
		color: var(--txtcolor-hover);
		background-color: #f5f4f4;
	}
	.list-item:hover .sub-list{
		display: block;
	}
	.sub-list .sub-item:hover a{
		padding-left: 25px;
		color: var(--txtcolor-hover);
		background-color: #f5f4f4;
	}

/*--------------CONTAINER--------------*/	

.container
{
	width: 100%;
	height: 100%;
	margin: 12px 0;
}
.container .card-content
{
	border: 2px dashed var(--txtcolor-gray);
	border-radius: 50px;
	
	height: 500px;
	width: 100%;
	text-align: center;
	justify-content: space-between;
	text-align: center;
}
.container .card-content h3
{
	font-weight: 700;
	font-size: 4rem;
	padding-bottom: 5px;
	border-bottom: 0.5px solid black;
	display: inline-block;
	color: var(--txtcolor-hover);

}
.container .card-content p
{
	font-weight: 700;
	font-size: 1.5rem;
	padding: 20px 0;
}

.container .card-content img
{
	
	padding: 20px 0;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

/*.container .card-content .content
{
	width: 50%
	border: 1px solid gold;
	border-radius: 50px;
	padding: 50px;

}*/
/*--------------FOOTER--------------*/	

.footer-col
	{
		width: 100%;
		padding: 12px 50px;
	}
	.footer-col ul
	{
		list-style: none;
	}
	.footer-col ul li
	{
		font-size: 1.3rem;
		font-weight: 700;
		color: var(--txtcolor-black);
	}
	.footer-col ul li a
	{
		font-size: 1.3rem;
		color: var(--txtcolor-black);
		text-transform: capitalize;
		margin-bottom: 30px;
		position: relative;
		font-weight: 700;
		text-decoration: none;
		transition: var(--tran-025);
	}
	.footer-col ul li a:hover
	{
		padding-left: 10px;
		color: var(--txtcolor-hover);


	}
	.footer-col h3
	{
		font-size: 16px;
		color: var(--txtcolor-hover);
		text-transform: capitalize;
		margin-bottom: 30px;
		position: relative;
		font-weight: 700;
	}
	.footer-col h3::before
	{
		content: '';
		position: absolute;
		left: 0;
		bottom: -10px;
		height: 2px;
		box-sizing: border-box;
		width: 80px;
		background-image: linear-gradient(-90deg, #E8A1F4, white);
	}
	.footer-col ul li:not(:last-child)
	{
		margin-bottom: 30px;
	}

	.footer-col .linkfl a
	{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		text-decoration: none;
		color: var(--txtcolor-black);
		font-size: 1.3rem;
		font-weight: 700;

	}
	.footer-col .linkfl a:hover
	{
		padding-left: 10px;
		transition: 0.2s;
		color: var(--txtcolor-hover);
	}